<div class="navbar">
  <div class="container">
    <div class="nav-header-image">
      <img src="http://placehold.it/150x75" alt="Image" />
    </div>
    <ul class="nav">
      <li class="nav-item"></li>
      <li class="nav-item"></li>
      <li class="nav-item"></li>
    </ul>
  </div>
</div>
